# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Chroma Database
chroma_db/

# Streamlit Cache
.streamlit/

# VS Code Settings (Optional)
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db