
streamlit

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-mistralai

chromadb

sentence-transformers
huggingface-hub
transformers
torch

pypdf
beautifulsoup4
lxml
requests

python-dotenv

tiktoken
